.game {
}
.game-setting {
	display: flex;
	justify-content: left;
	margin-bottom: 40px;
}

.game-setting-start-btn {
	width: 60px;
}
.game-setting-row {
	margin-right: 20px;
}

.game-setting-col {
	margin-right: 20px;
}

.game-area {
	display: flex;
	flex-direction: row;
}

.game-info {
	margin-left: 20px;
}

.status {
	margin-bottom: 10px;
	color: red;
}

.bold {
	font-weight: 700;
}

.btn {
	display: flex;
	align-items: center;
}

.btn .icon-up {
	margin-top: 5px;
	margin-left: 5px;
}

.btn .icon-down {
	margin-bottom: 5px;
	margin-left: 5px;
}
