.game {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.game-setting {
	display: flex;
	justify-content: left;
}

.game-setting-size {
	margin-right: 20px;
}
.game-setting-start-btn {
	background-color: aqua;
	width: 60px;
}

.game-guide {
	margin: 20px 0;
}

.game-guide-highlight {
	color: red;
}
.game-area {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.game-info {
	margin-left: 20px;
}

.status {
	margin-bottom: 10px;
	color: red;
}

.bold {
	font-weight: 700;
}

.btn {
	display: flex;
	align-items: center;
}

.btn .icon-up {
	margin-top: 5px;
	margin-left: 5px;
}

.btn .icon-down {
	margin-bottom: 5px;
	margin-left: 5px;
}
