.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.status {
    margin-bottom: 10px;
}


.bold {
    font-weight: 700;
}

.btn {
    display: flex;
    align-items: center;
}

.btn .icon-up {
    margin-top: 5px;
    margin-left: 5px;
}

.btn .icon-down {
    margin-bottom: 5px;
    margin-left: 5px;
}